.iconMenu-img {
    width: 30px;
    height: 30px;
}

.container {
    background-color: rgba(193, 161, 240, 1);
    display: inline-flex;
    width: 65%;
    justify-content: start;
    align-items: center;
}
.icons {
    align-items: center;
    margin-left: 10px;
    flex-wrap: nowrap;
    display: inline-block;
}

.hiden-numb {
    display: none;
}

.show-numb:hover {
    .hiden-numb {
        display: block;
    }
}
