.appCont {
    background-color: rgba(193, 161, 240, 1);
    height: 100%;
}
.menu-btn-favorites {
    text-transform: none;
    background-color: rgba(193, 161, 240, 1);
    color: white;
    font-size: 23px;
}
.menu-btn-favorites:hover {
    font-size: 27px;
    background-color: rgba(193, 161, 240, 1);
    color: yellow;
    transition: all 500ms;
}
.conteiner-btn-menu{
    display: flex;
    justify-content: center;
    width: 500px;
}

.menu-btn{
    display: inline-block;
}

.menu-link{
    text-transform: none;
    text-decoration: none;
    color: white;
    font-size: 23px;
}

.menu-link:hover{
    transition: all 500ms;
    color: yellow;
    font-size: 27px;
}

.category{
    text-transform: none;
    text-decoration: none;
    color: white;
    font-size: 23px;
    display: block;
}

.category:hover{
    transition: all 500ms;
    color: yellow;
    font-size: 27px;
}