.footer-conteiner {
    height: 70px;
    width: 100wh;
    background-color: rgba(193, 161, 240, 1);
    display: flex;
    justify-content: space-around ;
}
.footer-navigation {
    display: block;    
    background-color: rgba(193, 161, 240, 1);
}
